<!-- Navigation -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h2>JourneyGenix</h2>
            </div>
            <div class="nav-menu">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'destinations' %}" class="nav-link">Destinations</a>
                <a href="{% url 'accommodations' %}" class="nav-link">Stay</a>
                <a href="{% url 'transportations' %}" class="nav-link">Transport</a>
                <a href="{% url 'itinerary' %}" class="nav-link">Itinerary Planner</a>
                <a href="{% url 'culture' %}" class="nav-link">Culture</a>
                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>